
img {
    width: 400px;
}
body {
    text-align: center;
}
body {
    text-align: center;
    font-family: "Gill Sans";
    color:Yellow;
    background-size: cover;
    font-size: 150%;
    background-image: url("http://img80.laughinggif.com/pic/HTTP29yaWcwNC5kZXZpYW50YXJ0Lm5ldC9mYzNlL2YvMjAxNi8xMjQvNi8yL3VzYV9ieV9kaW1vbmdyLWRhMWFlZ2QuZ2lm.gif");
}